.navbar {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.navbar.is-fixed-top {
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1070;
  background: white;
}

.burgerPos {
  display: none;
}

@media (max-width: 767px) {
  .burgerPos {
    display: inline-block;
    margin: 7.5px 0;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .rightMenu {
    display: none;
  }
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: unset !important;
}

.ant-drawer-header {
  padding: 0 !important;
}
