.footer {
  justify-content: center;
  align-content: center;
  background: white;
  border-top: 3px solid black;
  padding: 20px !important;
  width: 100%;
}

.notice-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .notice-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
