.footer {
  justify-content: center;
  align-items: center;
  background: #1890ff !important;
  border-top: 4px solid #3b58bf8f;
  color: white;
  padding: 20px !important;
  width: 100%;
}

.notice-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.notice-container span,
.notice-container .white {
  color: white;
}

@media (max-width: 700px) {
  .notice-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
