@import "~bulma/bulma.sass";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~antd/dist/antd.css";

.brand {
  background: #3b58bf8f;
  border-radius: 50%;
  color: white;
}

.layout-container {
  min-height: calc(100vh - 132px); // navbar 52, footer 80
  /* min-width: 100vw; */
  // display: flex;
  padding: 20px;
  background: ghostwhite;
}
